<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://nlog-project.org/schemas/NLog.xsd">
  <targets>
    <!-- 로그를 콘솔로 출력 -->
    <target name="console" xsi:type="Console" layout="${longdate} ${level} ${message}" />

    <!-- 로그를 파일로 출력 -->
    <target name="file" xsi:type="File" fileName="logs/logfile.txt" layout="${longdate} ${level} ${message}" />
  </targets>
  
  <rules>
    <logger name="*" minlevel="Debug" writeTo="console, file" />
  </rules>
</nlog>
